<aside class="sidebar">
  <nav>
    <a href="/professions/">Professions</a>
    <a href="/planets/">Planets</a>
    <a href="/factions/">Factions</a>
    <a href="/guides/">Guides</a>
    <a href="/lore/">Lore</a>
  </nav>
</aside>
