<aside class="sidebar">
  <h2>Navigation</h2>
  {% set lastCategory = null %}
  {% for page in collections.all | sort(attribute='data.category') %}
    {% if page.data.category and not page.data.eleventyExcludeFromCollections %}
      {% if page.data.category != lastCategory %}
        {% if lastCategory %}
          </ul>
        {% endif %}
        {% set lastCategory = page.data.category %}
        <h3><a href="/{{ page.data.category | categorySlug }}/">{{ page.data.category }}</a></h3>
        <ul>
          <li><a href="/{{ page.data.category | categorySlug }}/">All {{ page.data.category }}</a></li>
      {% endif %}
      {% if page.url != '/' + (page.data.category | categorySlug) + '/' %}
        <li>
          <a href="{{ page.url }}">{{ page.data.title }}</a>
        </li>
      {% endif %}
    {% endif %}
  {% endfor %}
  {% if lastCategory %}
    </ul>
  {% endif %}
</aside>
