---
permalink: search-index.json
eleventyExcludeFromCollections: true
---
[
{% for item in collections.all %}
  {
    "title": {{ item.data.title | json | safe }},
    "url": "{{ item.url }}",
    "tags": {{ item.data.tags | json | safe }}
  }{% if not loop.last %},{% endif %}
{% endfor %}
]
